<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PicFeed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PicFeedKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>blah.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD4A15781AC9F348007F51F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADF433651A1F6C8D00134224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADF4337E1A1F6C8D00134224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADF433A11A1F731200134224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
